<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<link rel="stylesheet" th:href="@{/css/login.css}">
	<script th:src="@{/js/login.js}"></script>

</head>

<body>
	<div class="card">
		<div class="card-body">
			<div class="card-title">
				<img th:src="@{/images/reddysicpn-removebg-preview.png}" alt="Logo" width="150px" height="60px">
			</div>
			<!--<h5 class="card-title">Reddy's</h5>-->

			<form id="loginForm" th:action="@{/login}" method="post">
				<!-- Display error message if login attempt failed -->
				<div th:if="${param.error}" class="alert alert-danger">
					Invalid email and password
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" class="form-control" id="email" name="username" required
						oninput="validateEmail()">
					<span id="emailError" class="error-message"></span>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<div class="input-group">
						<input type="password" class="form-control" id="password" name="password" required disabled>
						<div class="input-group-append">
							<span class="input-group-text">
								<i id="eye-icon" class="fas fa-eye-slash toggle-password"></i>
							</span>
						</div>
					</div>
					<small id="passwordHelpBlock" class="form-text text-muted">
						<a th:href="@{/forgotPasswordForm}" id="forgotPasswordLink" class="text-decoration-none">Forgot
							password?</a>
					</small>

				</div>
				<button type="submit" class="btn btn-primary" id="loginButton" disabled>Login</button>
			</form>
			<hr>
			<div class="text-center">
				<p>Don't have an account? <a href="#" th:href="@{/signUp}">Sign Up</a></p>
			</div>
		</div>
	</div>
</body>

</html>