<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SignUp</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"></script>

	<link rel="stylesheet" th:href="@{/css/signUp.css}">
	<script th:src="@{/js/signUp.js}"></script>
</head>

<body>
	<div class="container">
		<!-- Left side: Sign-up form -->
		<div class="sign-up-form">
			<h5 class="card-title">Sign Up</h5>

			<!--OTP Success messsage-->
			<div id="successMessage" class="alert alert-success" style="display: none;"></div>
			<div id="failureMessage" class="alert alert-danger" style="display: none;"></div>


			<!-- Display error message if there's any -->
			<div th:if="${message}" class="alert alert-danger" th:text="${message}"></div>

			<!-- Display success message if successMessage is true -->
			<div th:if="${successMessage}" class="alert alert-success">
				<p>Account Created Successfully. Please <a th:href="@{/login}">click here</a> to login.</p>
			</div>

			<form id="signupForm" th:action="@{/signUp}" th:object="${essSignUp}" method="post"
				onsubmit="return validateForm()">
				<div class="form-row">
					<div class="col">
						<div class="form-group">
							<label for="firstName">First Name*</label>
							<input type="text" class="form-control" id="firstName" name="firstName" required>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="lastName">Last Name</label>
							<input type="text" class="form-control" id="lastName" name="lastName">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="workEmail">Work Email*</label>
					<input type="email" class="form-control" id="workEmail" name="email" required>
				</div>

				<!-- Send OTP button initially -->
				<button type="button" class="btn btn-primary" id="sendOTPButton"
					onclick="validateEmailAndShowOTP()">Send OTP</button>

				<!-- OTP input field -->
				<div id="otpInputSection" style="display: none;">
					<div class="form-group">
						<label for="otp">Enter OTP*</label>
						<input type="text" class="form-control" id="otp" name="otp" required>
					</div>

					<!-- Verify OTP button hidden initially -->
					<button type="button" class="btn btn-success mt-2" id="verifyOTPButton" onclick="verifyOTP()">Verify
						OTP</button>
				</div>
				<div class="form-group">
					<label for="phoneNumber">Phone Number*</label>
					<input type="tel" class="form-control" id="phoneNumber" name="mobileNumber" required>
				</div>
				<div class="form-group">
					<label for="companyName">Company Name*</label>
					<input type="text" class="form-control" id="companyName" name="companyName" required>
				</div>
				<div class="form-group">
					<label for="newPassword">Enter Password*</label>
					<div class="input-group">
						<input type="password" class="form-control" id="newPassword" name="newPassword" minlength="6"
							required onkeyup="validatePassword()">
						<div class="input-group-append">
							<span class="input-group-text">
								<i id="newPasswordIcon" class="fas fa-eye-slash toggle-password"
									onclick="togglePasswordVisibility('newPassword')"></i>
							</span>
						</div>
					</div>
					<div id="newPasswordError" class="error-message"></div>
				</div>
				<div class="form-group">
					<label for="confirmPassword">Confirm Password*</label>
					<div class="input-group">
						<input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
							minlength="6" required disabled onkeyup="validatePassword()">
						<div class="input-group-append">
							<span class="input-group-text">
								<i id="confirmPasswordIcon" class="fas fa-eye-slash toggle-password"
									onclick="togglePasswordVisibility('confirmPassword')"></i>
							</span>
						</div>
					</div>
					<div id="confirmPasswordError" class="error-message"></div>
				</div>
				<button type="submit" class="btn btn-primary" id="signupButton" disabled>Sign Up</button>
			</form>
			<hr>
			<div class="text-center">
				<p>Already have an account? <a href="#" th:href="@{/login}">Login</a></p>
			</div>
		</div>

		<!-- Right side: Company information and testimonial -->
		<div class="company-info">
			<div class="card-title" style="text-align: center;">
				<img th:src="@{/images/reddysicpn-removebg-preview.png}" alt="Logo" width="200px" height="100px">
			</div>

			<div class="testimonial">
				<p>"After conducting a thorough assessment of available HR Payroll solutions, we confidently chose
					Reddy's Portal, a decision that has consistently proven its worth. Reddy's Portal has played a
					crucial role in our company's expansion, enabling us to scale our team from 50 to over 400 employees
					in just two years."</p>
				<p><strong>Praveen Reddy</strong><br>Reddy's Technologies</p>
			</div>
			<p>Over 100+ companies trust Reddy's</p>
			<!-- You can add logos here -->
			<div class="logos">
				<!--<img src="logo.png" alt="Logo">-->
			</div>
		</div>
	</div>

</body>

</html>